.advantages {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
}

.advantages__header {
  margin-bottom: 42px;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;

  margin: 0;
  margin-bottom: 30px;
}

.advantages__intro {
  font-size: 14px;
  margin: 0;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  padding: 25px 0 23px 0;
  background-color: @gray;
  text-align: center;

  &--dedicated {
    background-color: @blue;
    padding-top: 38px;
    padding-bottom: 0;
    color: @white;
  }

  &--border {
    border-bottom: 1px solid #d6d6d6;
  }
}

.advantages__subtitle {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.advantages__number {
  margin-bottom: 14px;
  font-size: 14px;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.advantages__image {
  margin-top: 37px;
}

.advantages__inner-list {
  min-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 35px 40px 36px 70px;
  list-style: none;
  text-align: left;
  color: @black;
  background-color: @white;
}

.advantages__inner-item:not(:last-of-type) {
  margin-bottom: 25px;
}

.advantages__inner-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 17px;
}

.advantages__inner-text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}
