.booking {
  text-align: center;
  padding-top: 31px;

  @media (min-width: @tablet-width) {
    padding-top: 55px;
  }
}

.booking__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking__intro {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-bottom: 33px;
  }
}

.booking__text {
  margin: 0;
  margin-bottom: 27px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
  }
}

.booking__box {
  width: 100%;
  max-width: 498px;
  padding: 0 20px;
}

.booking__button {
  font-size: 21px;
  line-height: 26px;

  min-height: 58px;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 65px;
  }
}

.booking__text br {
  @media (max-width: @tablet-width - 1) {
    display: none;
  }
}

.booking iframe {
  display: block;
  border: none;
}
