.gallery {
  padding-top: 32px;
}

.gallery__title {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  font-size: 18px;
}

.gallery__intro {
  line-height: 24px;
  margin: 0;
  padding-bottom: 30px;
  text-align: center;

  &--border {
    border-bottom: 1px solid #e5e5e5;
  }
}

.gallery__list {
  .list-reset;
  margin-bottom: 30px;
}

.gallery__item {
  display: flex;
  justify-content: center;
  padding: 22px 0;
  border-bottom: 1px solid #e5e5e5;
}

.gallery__video-text {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
}

.gallery__video-intro {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  line-height: 24px;
}
