.intro {
  display: flex;
  justify-content: center;
  background: url("../img/mobile/bg.jpg") no-repeat center;
  background-size: cover;

  &--index {
    padding-top: 90px;
    height: 390px;
  }

  &--inner {
    padding-top: 50px;
    height: 160px;
    background-position: bottom;
  }

  @media (min-width: @tablet-width) {
    &--index {
      padding-top: 78px;
      height: 518px;
    }

    &--inner {
      padding-top: 95px;
      height: 290px;
    }
  }
}
