.photo-card__image {
  margin-bottom: 10px;
}

.photo-card__title {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.photo-card__author {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 24px;

  text-transform: none;
}

.photo-card__likes {
  font-weight: 700;
  line-height: 24px;
}
