.photo-card {
  position: relative;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.photo-card__image {
  //
}

.photo-card__caption {
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px 15px;

    background-color: #f2f2f2;

    &--darker {
      background-color: #eaeaea;
    }
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: @white;
  }
}

.photo-card__title {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.photo-card__author {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 24px;

  text-transform: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.photo-card__likes {
  font-weight: 700;
  line-height: 24px;
}
