.social {
  //social
}

.social__list {
  .list-reset;
  display: flex;
}

.social__item:not(:last-of-type) {
  margin-right: 6px;
}

.social__link {
  width: 46px;
  height: 48px;
}

.social__link:hover svg {
  fill: red;
}
